.col-custom-class {
  float: left !important;
  width: 45%;
}

  .col-custom-class .input {
    width: 100% !important;
    float: left;
    margin: 10px;
    padding: 10px;
  }

.register-form {
  width: 60%;
  margin: auto;
  padding: 20px;
  align-content: center;
  align-items: center;
  text-align: center;
  background-color: azure;
}

mat-form-field input {
    position:relative;
    width: 70%;
    float: left;
    height: 30px;
}

.dates-pickers, .dates-pickers button, .dates-pickers button span {
  position: relative;
  padding: 0px !important;
  margin: 0px auto;
  float: left !important;
  width: 40px !important;
  height: 40px;
}
