

<main style="width:100%;">
  <h1 style="text-align:center;">Classes</h1>
    <table class="table" style="width:85%; margin:2%; scrollbar-darkshadow-color:ActiveBorder;">

      <!-- Position Column -->
      <thead class="thead-dark">
        <tr>
          <th scope="col"> Serial No.	 </th>

          <th scope="col"> Class Name	 </th>

          <th scope="col"> Priority	 </th>

          <th scope="col"> Action </th>
          

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of classesD">
          <th scope="row">{{ item.classId }}</th>
          <td>{{ item.className }}</td>
          <td>{{ item.priority }}</td>
         
          <td>
            <button type="button" class="btn btn-success" (click)="studentDetails(item.studentId)" value="Details"> Details </button>
            <button type="button" (click)="editStudent(item.studentId)" class="btn btn-primary" value="Edit"> &nbsp;&nbsp;Edit &nbsp;&nbsp;</button>
          </td>
        </tr>

      </tbody>
    </table>


</main>

