<div class="container">
  <label>Filter</label>
 
</div>

<table class="table">

  <!-- Position Column -->
  <thead class="thead-dark">
    <tr>
      <th scope="col"> UserID </th>

      <th scope="col"> UserName </th>

      <th scope="col"> FatherName </th>

      <th scope="col"> UserPassword </th>

      <th scope="col"> UserRole </th>

      <th scope="col"> FirstName </th>

      <th scope="col"> IsEnable </th>

      <th scope="col"> Action </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of userD">
      <th scope="row">{{ item.userId }}</th>
      <td>{{ item.userName }}</td>
      <td>{{ item.fatherName }}</td>
      <td>{{ item.userPassword }}</td>
      <td>{{ item.userRole }}</td>
      <td>{{ item.firstName }}</td>
      <td>{{ item.isEnable }}</td>
      <td>
        <a routerLink="../update" class="link" (click)="updateUser(item)">Update</a>&nbsp;/&nbsp;
        <a routerLink="../home" (click)="deleteUser(item.userId)" class="link">Delete</a>
      </td>
    </tr>

  </tbody>
</table>
